<nav class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>

    <script>
      function closeMenu() {
        var toggleButton = $('.navbar-toggle');
        if (toggleButton.css('display') !== 'none') {
          console.log('will close');
          toggleButton.click();
        }
      }
    </script>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#queries" onclick="closeMenu()" anga-active-link>Queries</a></li>
        <li><a href="#queries/new" onclick="closeMenu()" anga-active-link>New query</a></li>
        <li><a href="#settings" onclick="closeMenu()" anga-active-link>Settings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!session.anonymous"><a>Anonymous</a></li>
        <!--<li ng-if="!session.anonymous" class="logout"><a href="{{api}}/api/v1/security/logout?url={{url}}">Logout</a>-->
        <!--</li>-->
        <!--<li ng-if="session.anonymous" class="logout"><a href="" ng-click="auth()">Login</a></li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
