<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>SQL</th>
      <th>Parameters</th>
      <th>Submitted</th>
      <th>Started</th>
      <th>Finished</th>
      <th ng-repeat="c in customColumns">{{c.title}}</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="query in queries" ng-click="navigateToQueryDetails(query.id)">
      <th scope="row">{{query.id}}</th>
      <td>{{query.sql}}</td>
      <td>{{query.parameters}}</td>
      <td>{{formatDate(query.submitTime)}}</td>
      <td>{{formatDate(query.startTime)}}</td>
      <td>{{formatDate(query.endTime)}}</td>
      <td ng-repeat="c in customColumns">
        <a ng-href="{{getResultDownloadLink(query.id, c.pluginName)}}" target="_blank"
           ng-if="query.status === 'COMPLETED'">Download</a>
      </td>
      <td>
        <button type="button" ng-class="'btn-block btn btn-' + getStatusButtonClass(query)">
          {{query.status}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
